/* Brand Colors */
/* .abc-blue {
  background-color: #213D62;
}

.abc-grey {
  background-color: #B9B9B9;
} */

@font-face {
  font-family: 'Inter', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter&display=swap');;
}

.page-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}